@model CS2ARonaldAbel_MVCPROJECT.BusLogic.Model.RecipeResponse;  
@{  
  ViewData["Title"] = "Recipe Result";  
}  

<h1>Generated Recipe</h1>  

<div class="recipe-content">  
  @Html.Raw(Model.ReplyHtml)  
</div>  

<div class="back-button">  
  <a asp-page="/Index" class="btn btn-primary">Back to Index</a>  
</div>  

<link rel="stylesheet" href="~/css/recipe-style.css" asp-append-version="true" />
